language: go

go:
  - "1.17"

# Restrict to cloning only 1 commit.
git:
  depth: 1

sudo: false

addons:
  postgresql: "9.5"

env:
  global:
    - PGHOST=localhost
    - PGPORT=5432
    - PGUSER=postgres
    - PGDATABASE=arborist_test

install:
  - createdb
  - ./migrations/latest
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls

script:
  - go test -v ./arborist/ --covermode=count --coverprofile=coverage.out

after_script:
  - goveralls --coverprofile=coverage.out --service=travis-ci --repotoken $COVERALLS_TOKEN
